<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>
        {{titulo}}
    </h1>
    <h2>
        {{sub_titulo}}
    </h2>
    <br>
    <ul>
        <li>
            <a href="{% url 'users_app:cerrar-sesion' %}"> Logout </a>
        </li>
        <li>
            <a href="#"> Update Profile </a>
        </li>
    </ul>
    
</body>
</html>